/* MEDIA QUERIES BOOTSTRAP*/
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */



/* <------------------------- MEDIA QUERY  XS SM */
@media all and (min-width: 480px) and (max-width: 991px){


/* <------------------------- MEDIA QUERY XS SM - SEZIONE 1/7 */
  #innovative_businesses img{
    width: calc(100%);
    margin: 0 calc(8%/2);
    display: block;
    float: left;
  }
  #partners ul li{
    width: 49%;
  }
  #partners img{
    max-width: 90%;
    display: block;
    margin: 0 auto;
  }


/* <------------------------- MEDIA QUERY XS SM - SEZIONE 2/7 */
  #deploy_list{
    display: block;
    float: left;
    margin: 0;
    width: 200px;
  }
  .deploy_box, .features_item{
    display: block;
    float: left;
    width: 100%;
    margin-right: 5%;
    margin-top: 10px;
    margin: 10px 5% 0 0;
  }
  .deploy_box h3, .features_item h3{
    margin-top: 5px;
  }
  .deploy_box p, .features_item p{
    margin-bottom: 0px;
  }
  .deploy_box img, .features_item img{
    margin-top: 10px;
  }


  /* <------------------------- MEDIA QUERY XS SM - SEZIONE 5/7 */
  #service table{
    width: 100%;
  }
  #service table td:first-child{
    padding-left: 10px;
  }
  #service table .td_link{
    text-align: right;
    padding-right: 10px;
  }
  .opacita{
    opacity: 0.7;
    width: 300px;
    display: block;
    margin-left: 40px;
  }

/* <------------------------- MEDIA QUERY XS SM - FOOTER */
  footer ul {
    padding-left: 15px;
  }
  footer .container1200 div:first-child{
    margin-left: 15px;
  }
}


/* <------------------------- MEDIA QUERY  MD */
@media all and (min-width: 992px) and (max-width: 1199px){

  /* <------------------------- MEDIA QUERY MD - JUMBOTRON */
  .jumbotron h1{
    font-size: 38px;
  }
  .jumbotron h2{
    font-size: 32px;
  }
  .h2_deploy{
    font-size: 32px;
    margin: 20px auto;
  }
  .features_item {
    padding-left: 3%;
  }


  /* <------------------------- MEDIA QUERY MD - SEZIONE 1/7 */
  #partners li{
    width: calc(16%);
  }
  #partners img{
    max-width: 100%;
    display: block;
  }


  /* <------------------------- MEDIA QUERY MD - SEZIONE 5/7 */
  #service table{
    width: 100%;
  }
  #service table td:first-child{
    padding-left: 10px;
  }
  #service table .td_link{
    text-align: right;
    padding-right: 10px;
  }
  .opacita{
    opacity: 0.7;
    width: 300px;
    display: block;
    margin-left: 40px;
  }


  /* <------------------------- MEDIA QUERY MD - FOOTER */
  footer .container1200 div:first-child{
    margin-left: 35px;
}

  #copyright .row .container1200 div:first-child{
    padding-left: 20px;
  }
}


  /* <------------------------- MEDIA QUERY LG */
@media all and (min-width: 1200px){

/* <------------------------- MEDIA QUERY LG - SEZIONE 5/7 */
  #service table{
    width: 100%;
  }
  #service table td:first-child{
    padding-left: 10px;
  }
  #service table .td_link{
    text-align: right;
    padding-right: 10px;
  }
  .opacita{
    padding-left: 50px;
  }
}
