/* DEBUG:  */
.red{
  background-color: red;
  border: solid 1px black;
}
.green{
  background-color: green;
  border: solid 1px black;
}

/* DEBUG:  */

/* COMMON RULES */
.container1200{
  max-width: 1200px;
  margin: 0 auto;
}
.container1200:after{
  content: "";
  display: table;
  clear: both;
}
nav a{
  color: gray;
  padding-left: 15px;
}
nav a:hover{
  color: #0069ff;
}
h2{
  color: #031b4e;
  font-size: 36px;
}
h3{
  font-size: 14px;
  color: darkgray;
  text-transform: uppercase;
}
p{
  color: #4a5c81;
  font-size: 16px;
}

/* NAVBAR RULES */

#nav_1st_fixed{
  min-height: 40px;
  border-bottom: 1px solid lightgray;
}
.nav_1st_v_align{
  margin-top: 10px;
  position: relative;
}
.nav_1st_v_align>ul{
  float: right;
  margin-right: 20px;
}
#nav_2nd_fixed{
  top: 41px;
  height: 65px;
}
.nav_2nd_v_align{
  margin-top: 25px;
}
nav img{
  height: 30px;
  width: auto;
  float: left;
  margin: -8px auto;
}
nav ul{
  display: block;
  float: left;
}
ul li.li_inline_block{
  display: inline-block;
}

/* JUMBOTRON RULES */
.jumbotron{
  background: url("../img/jumbotron.jpg");
  margin-top: 105px;
}
.jumbotron h1{
  color: white;
  font-weight: bold;
}
.jumbotron h2{
  font-weight: bold;
}
.jumbotron p{
  color: #ccdbff;
}
#login_panel{
  width: 480px;
  height: 540px;
  background-color: white;
  border-radius: 10px;
}
.login_form{
  padding-left: 18px;
  padding-right: 18px;
}

.login_item{
  width: 100%;
  height: 48px;
  border-radius: 5px;
  margin: 10px auto;
  border: solid 1px lightgray;
  font-weight: bold;
/* !non capisco perche non aggiunge il colore alla scritta esempio:  color:red; */
}
.line{
  background-color: lightgray;
  height: 1px;
  width: 150px;
  display: inline-block;
  margin: 3px 10px;;
}
#login_panel img{
  width: 18px;
  height: 18px;
  position: relative;
  display: block;
  top: 8px;
  left: 25px;
}
#login_panel .btn-default{
  background-color: #f2f8ff;
  width: 80%;
  height: 48px;
  margin: 46px auto;
  display: block;
  padding: 15px;
  font-size: 20px;
}
#login_panel .btn-default:hover{
  background-color: #d5e4f7;
}
#login_panel p{
  font-size: 12px;
  color: black;
}

/* SEZIONE  1/7 */
#partners{
  display: block;
  margin: 25px auto;
  border: 1px solid black;
}
#partners:after{
  clear: both;
  display: table;
  content: "";
  margin: 25px auto;
}
#partners_logos{
  display: block;
  margin: 0 auto;
  border: red 1px solid;
}
#innovative_businesses img{
  min-width: 100px;
  max-width: calc(90%/6);
  min-height: auto;
  max-height: 60px;
  border: 1px solid black;
  margin: 0 calc(10%/6);
  display: block;
  float: left;
}
